:root {
    --lightblue: #a2f6fd;
    --pink: #ff00ff;
}

body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
}

header {
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
}

nav li,
#contactme li {
    display: inline;
    font-family: 'Montserrat', sans-serif;
}

nav li {
    font-size: 1.2em;
}

a:visited,
a:link {
    color: black;
    text-decoration: none;
}

#work a:visited,
#work a:link {
    color: var(--pink);
}

footer {
    background-color: var(--lightblue);
    font-size: 12px;
    text-align: center;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 10px;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navigationRow {
    background-color: var(--lightblue);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 10px;
}

.myname {
    font-family: 'Pacifico', cursive;
    font-size: 2em
}

.headerImage {
    background-image: url(../images/background.jpg);
    background-size: cover;
    height: 100px;
    width: 100%;
}

.subtitle {
    font-family: 'Pacifico', cursive;
    height: 40px;
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    line-height: 40px;
    z-index: 5;
    top: 85px;
    right: 20px;
    position: absolute;
}

.myimage {
    max-width: 100px;
    border-color: var(--lightblue);

}

.featuredImage {
    max-width: 638px;
    border-style: solid;
}

.workImage {
    max-width: 300px;
    border-style: solid;
}

.imageTitle {
    background-color: var(--pink);
    font-family: 'Cardo', serif;
    height: 40px;
    width: 120px;
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    line-height: 40px;
    z-index: 5;
    bottom: 60px;
    left: 12px;
    position: relative;
}

.workGrid {
    margin-top: 30px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

#contactInfo {
    align-self: flex-end;
}